<div class="row">
  <div style="width:80%;margin:0 auto">
    <form [formGroup]="tarvelForm" (ngSubmit)="onSubmit();">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" 
          class="btn btn-success"
          [disabled]="tarvelForm.valid==false || tarvelForm.get('travelList').controls.length == 0">Save</button>
          <!-- <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button> -->
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" id="name" class="form-control"
              formControlName="name">
            </div>
        </div>
      </div> -->
      <!-- <div class="row">
          <div class="col-xs-12">
              <div class="form-group">
                <label for="imagePath">Image URL</label>
                <input type="text" id="imagePath" class="form-control"
                formControlName="imagePath" #imagePath>
              </div>
          </div>
        </div> -->
        <!-- <div class="row">
            <div class="col-xs-12">
               <img [src]="imagePath.value" class="img-responsive">
            </div>
          </div> -->
          <!-- <div class="row">
              <div class="col-xs-12">
                  <div class="form-group">
                    <label for="description">Description</label>
                    <textarea  id="description" 
                    class="form-control" rows="6"
                    formControlName="description">
                    </textarea>
                  </div>
              </div>
            </div> -->
            <div class="row" >
                <div class="col-md-12" formArrayName='travelList'>
                    <div class="row" [formGroupName]='i'
                    *ngFor="let travelCtrl of tarvelForm.get('travelList').controls; let i=index"
                    style="margin-bottom:15px;">
                        <div class="col-md-3">
                          <label> From date</label>
                          <div class="input-group">
                           <input class="form-control" formControlName='fromDate' placeholder="yyyy-mm-dd"
                           name="d1" ngbDatepicker #d1="ngbDatepicker">
                           <div class="input-group-prepend" (click)="d1.toggle()">
                              <div class="input-group-text">
                                  <a href="#"><i class="fa fa-calendar" ></i></a> 
                                </div>
                              </div>
                              </div>
                        </div>
                        <div class="col-md-3">
                            <label> To date</label>
                            <div class="input-group">                             
                            <input class="form-control" formControlName='toDate' placeholder="yyyy-mm-dd"
                            name="d2" ngbDatepicker #d2="ngbDatepicker">
                            <div class="input-group-prepend" (click)="d2.toggle()">
                                <div class="input-group-text">
                                    <a href="#"><i class="fa fa-calendar" ></i></a> 
                                </div>
                              </div>
                          </div>
                             <!-- <div class="col-md-1">
                              <button class="btn btn-success calendar" (click)="d2.toggle()" type="button">O</button>
                             </div> -->

                        </div>
                        <div class="col-md-3">
                            <label> destination</label>
                            <!-- <input type="text" class="form-control" 
                            formControlName='destination'> -->
                            <select2 [data]="exampleData" class="form-control" formControlName='destination'></select2>
                            <!-- <select id="country"  class="select-search"  class="form-control" formControlName="destination">
                                <option *ngFor="let c of exampleData" [ngValue]="c.id">{{ c.text }}</option>
                            </select> -->
                          </div>
                        <div class="col-md-1">
                              <button type="button" style="position: relative;top: 31px;"
                               class="btn btn-danger" (click)="delete(i)">X</button>   
                        </div>
                    </div>
                    <div class="row" *ngIf="tarvelForm.get('travelList').controls.length == 0">
                        <div class="col-xs-12">
                          <span>No Travel Details Added</span>
                        </div>
                    </div> 
                    <hr>                     
                    <div class="row">
                      <div class="col-xs-12">
                        <button type="button" class="btn btn-success" (click)="Add()">Add Travel</button>   
                      </div>
                    </div>
                </div>
              </div>
    </form>
  </div>
</div>
